*{
    margin: 0;
    padding: 0;
    }

html body{
    height: 100%;
}

form{
    width: 96%;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

form fieldset{
    padding: 20px 40px;
    border: 1px solid;
}

form legend{
    font-size: 17px;
    color: rgb(130, 130, 130);
    text-align: left;
}

form input[type=text]{
    display: inline-block;
    margin-top: 30px;
    width: 80%;
    padding: 10px 30px;
}

form input[type=text]:focus, form select:focus, form textarea:focus{
    outline: 0;
}

form input[type=text]:focus{
outline: 0;
}

form select{
    width:calc(80% + 26px);
    margin-top: 30px;
    padding: 10px 13px;
    display: inline-block;
}

form h2{
    margin-top: 20px;
    color: rgb(100, 100, 100);
}

.input{
    display: inline-block;
    text-align: left;
    margin-top: 20px;
}
.input span{
    margin-left: 13px;
    font-size: 16px;
    color: rgb(130, 130, 130);
}

form input[type=submit]{
    margin-top: 30px;
    border: 0;
    width: 140px;
    height: 40px;
    cursor: pointer;
    font-size: 16px;
    border: 2px solid rgb(130, 130, 130);
    background-color: rgb(140, 140, 140);
    color: white;
    border-radius: 10px;
}

form textarea{
    border: 1px solid#ccc;
    margin-top: 30px;
    width: 80%;
    height: 140px;
    padding: 10px 13px;
    resize: none;
}

